<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app 
   xmlns="http://java.sun.com/xml/ns/javaee" 
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" 
   version="2.5">
  <servlet>
    <servlet-name>Admin</servlet-name>
    <servlet-class>org.example.JettyMavenWarApp.AdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin</servlet-name>
    <url-pattern>/admin/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Analyse</servlet-name>
    <servlet-class>org.example.JettyMavenWarApp.AnalyseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Analyse</servlet-name>
    <url-pattern>/analyse/*</url-pattern>
  </servlet-mapping>
</web-app>